*.o
skipgraph
*~
*.i
GPATH
GRTAGS
GTAGS
a.out
*.S
server
logic_test
*.a
*.gcov
gtest*
*.gcda
*.gcno
gmon.out
mtrace.log
*.so
perf.data
perf.data.old
prof
test_alloc
test_skiplist
alloc_compare
alloc_efficiency
